<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784841383774-dpk8lh4er7qklu054pbf7kr09a6higj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784841383774-dpk8lh4er7qklu054pbf7kr09a6higj0</string>
	<key>API_KEY</key>
	<string>AIzaSyDUWcu9eka-iOFJz-FPRH282HmhIUv_I5g</string>
	<key>GCM_SENDER_ID</key>
	<string>784841383774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authenticationTemplate</string>
	<key>PROJECT_ID</key>
	<string>authentication-template-27fcb</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-template-27fcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784841383774:ios:6d2f9bf5ff9dbefa0ff9cf</string>
</dict>
</plist>